<div class="container-fluid">
			<br>
			<div class="col-md-11">
				<ol class="breadcrumb">
					<li class="active"><a href="content.html">Perfil</a></li>
					<li> <small><span class="glyphicon glyphicon-chevron-right"></span></small></li>
					<li><a href="#">Mis cursos</a></li>
				</ol>
			</div>
			
	</div>


	<div class="container">
			<section class="main row">

				<div class="main visible-lg visible-md col-xs-12 col-sm-4 col-md-3 col-lg-3 ">
					<div class="panel panel-default">
						  <div class="panel-heading">
						    	<h3 class="panel-title">Usuario Identificado <a href="#"><small><span class="text-right glyphicon glyphicon-minus"></span></small></a></h3> 
						  </div>
						  <div class="panel-body">
						  		NOMBRE ALUMNO
						    	<br>
						    	Carrera: Ing. Civil Informática
						    	<br>
						  </div>
					</div>
					<div class="panel panel-default">
						  <div class="panel-heading">
						    	<h3 class="panel-title">Dirección de Estudios <a href="#"><small><span class="glyphicon glyphicon-plus"></span></small></a></h3> 
						  </div>
						  <div class="hidden panel-body">
						    	<a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Dirección de Estudios</a></h3>
						    	<br> <hr>
						  </div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
					<div class="panel panel-default">
						  <div class="panel-heading">
						    	<h3 class="panel-title">Vista General Cursos <a href="#"><small><span class="text-right glyphicon glyphicon-minus"></span></small></a></h3> 
						  </div>
						  <div class="panel-body">
						    	<a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Física General III</a></h3>
						    	<br> <hr>
						    	<a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Matemática IV</a></h3>
						    	<br> <hr>
						    	<a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Física General II</a></h3>
						    	<br> <hr>
						    	<a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Análisis y Diseño de Software</a></h3>
						    	<br> <hr>
						    	<a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Sistemas Operativos</a></h3>
						    	<br> <hr>
						    	<a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Optimización</a></h3>
						    	<br> <hr>
						  </div>
					</div>
				</div>

				<div class="main visible-lg visible-md col-xs-12 col-sm-4 col-md-3 col-lg-3">
					<div class="panel panel-default">
						  <div class="panel-heading">
						    	<h3 class="panel-title">Administración <a href="#"><small><span class="text-right glyphicon glyphicon-minus"></span></small></a></h3> 
						  </div>
						  <div class="panel-body">
						    	<a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Ajustes de mi perfil</a>
						  </div>
					</div>
				</div>
			</section>
	</div>