<div class="jumbotron text-center">
	<div class="container row">
			<br>

			<div class="main col-md-4 col-md-offset-2">
				<div class="text-primary text-justify">
					<h4 class="info" > Registro Usuarios</h4>
				</div>
				<br>
				<form class="auth_form" name="login" id="login" method="POST" action="/register">

					<div class="form-group">
						<label for="user">Ingrese Nombre </label>
						<input class="form-control" id="name" type="text" placeholder="Nombre">
						</input>
					</div>

					<div class="form-group">
						<label for="user">Ingrese Apellido </label>
						<input class="form-control" id="lastname" type="text" placeholder="Nombre">
						</input>
					</div>

					<div class="form-group">
						<label for="user">Ingrese Correo Electrónico </label>
						<input class="form-control" id="mail" type="text" placeholder="Email">
						</input>
					</div>

					<div class="form-group">
						<label for="Password">Ingrese Contraseña </label>
						<input type="password" class="form-control" id="password" placeholder="Contraseña">
						</input>
					</div>

					<div class="form-group">
						<label for="Password">Reingrese Contraseña</label>
						<input type="password" class="form-control" id="password2" placeholder="Re-Contraseña">
						</input>
					</div>

					<a href="quiz.html" role="buton" class="btn btn-primary">Enviar</a>
					
				</form>
			</div>

			<div class="main col-md-4 col-md-offset-1">
				<div class="text-primary text-justify">
					<h4 class="info" > Instrucciones de Registro</h4>
					<p> Para registrarse, usted debe llenar los datos requeridos en cada campo de texto y luego será redirigido
						a una sección donde deberá contestar una encuesta para completar el registro.
				</div>
			</div>
		</div>
	</div>
