<div class="jumbotron text-center">
	<div class="container row">
			<br>
			<div class="main col-md-4 col-md-offset-2">
				<div class="text-primary text-justify">
					<h4 class="info" > Borrar Usuario</h4>
				</div>
				<br>
				<form  class="auth_form" method="POST" action="/delete_user">

					<div class="form-group">
						<label for="user">Ingrese Mail </label>
						<input class="form-control" name="username" type="text" placeholder="mail" required>
						</input>
					</div>

				<hr>
				<button type="submit" class="btn btn-lg btn-primary">Borrar Usuario</button>
				</form>
		</div>
	</div>
</div>