<div class="container">
			<section class="main row">
	<div id="foto2" class="ui-widget-content">
		<a href="http://www.marivera.usm.cl/Fis120/Clase01/assets/fallback/index.html">
		<img src="../img/ppt.png" width="100%" />
		</a>
	</div>
<br>
<hr>
<br>
	
	<div id="foto1" class="ui-widget-content">
		<a href="../img/Fisica-Universitaria-Sears-Zemansky-12va-Edicion-Vol1.pdf">
		<img src="../img/fisica-sears12edvol1.jpg" width="100%" />
		</a>
	</div>
<br>
<hr>
<br>
	
	<div id="foto3" class="ui-widget-content">
		<a href="../img/fis120-guia_4_potencial_electrico-pauta.pdf">
		<img src="../img/guiapotencialelec.png" width="100%"/>
		</a>
	</div>
<br>
<hr>
<br>

	<div id="foto4" class="ui-widget-content">
		<a href="../img/[FIS 120] Certamen 1 - 2004.1.pdf">
		<img src="../img/certamen.png" width="100%"/>
		</a>
	</div>

	</section>
	</div>