
<div class="container">
			<section class="main row">

				<div class="main visible-lg visible-md col-xs-12 col-sm-5 col-md-5 col-lg-5 ">
					<div class="panel panel-default">
						  <div class="panel-heading">
						    	<h3 class="panel-title">Archivos <a href="#"><small><span class="glyphicon glyphicon-minus"></span></small></a></h3> 
						  </div>
						  <div class="panel-body">
						    	<form id        =  "uploadForm"
								     enctype   =  "multipart/form-data"
								     action    =  "/api/photo"
								     method    =  "post"
								>
								<input type="file" name="userPhoto" />
								<br>
								<input type="submit" value="Upload File" class="btn btn-lg btn-primary" name="submit">
								</form>
						  </div>

					</div>
					
				</div>
				<div class="col-xs-12 col-sm-4 col-md-5 col-lg-5">
					<div class="panel panel-default">
						  <div class="panel-heading">
						    	<h3 class="panel-title">Imágenes<a href="#"><small><span class="text-right glyphicon glyphicon-minus"></span></small></a></h3> 
						  </div>
						  <div class="panel-body" >
						    	<form id        =  "uploadForm"
								     enctype   =  "multipart/form-data"
								     action    =  "/api/photo"
								     method    =  "post"
								>
								<input type="file" name="userPhoto" />
								<br>
								<input type="submit" value="Upload Image" class="btn btn-lg btn-primary" name="submit">
								</form>
						  </div>
					</div>
				</div>
			</section>
	</div>


<div class="container">
			<section class="main row">

				<div class="main visible-lg visible-md col-xs-12 col-sm-5 col-md-5 col-lg-5 ">
					<div class="panel panel-default">
						  <div class="panel-heading">
						    	<h3 class="panel-title">Teoremas <a href="#"><small><span class="glyphicon glyphicon-minus"></span></small></a></h3> 
						  </div>
						  <div class="panel-body">
						    	<form id        =  "uploadForm"
								     enctype   =  "multipart/form-data"
								     action    =  "/api/photo"
								     method    =  "post"
								>
								<input type="file" name="userPhoto" />
								<br>
								<input type="submit" value="Upload File" class="btn btn-lg btn-primary" name="submit">
								</form>
						  </div>

					</div>
					
				</div>
				<div class="col-xs-12 col-sm-4 col-md-5 col-lg-5">
					<div class="panel panel-default">
						  <div class="panel-heading">
						    	<h3 class="panel-title">Ejercicios<a href="#"><small><span class="text-right glyphicon glyphicon-minus"></span></small></a></h3> 
						  </div>
						  <div class="panel-body" >
						    	<form id        =  "uploadForm"
								     enctype   =  "multipart/form-data"
								     action    =  "/api/photo"
								     method    =  "post"
								>
								<input type="file" name="userPhoto" />
								<br>
								<input type="submit" value="Upload Image" class="btn btn-lg btn-primary" name="submit">
								</form>
						  </div>
					</div>
				</div>
			</section>
	</div>
<hr>

<div class="container">
			<section class="main row">
	<div id="foto2" class="ui-widget-content">
		<a href="http://www.marivera.usm.cl/Fis120/Clase01/assets/fallback/index.html">
		<img src="../img/ppt.png" width="100%" />
		</a>
	</div>
<br>
<hr>
<br>
	
	<div id="foto1" class="ui-widget-content">
		<a href="../img/Fisica-Universitaria-Sears-Zemansky-12va-Edicion-Vol1.pdf">
		<img src="../img/fisica-sears12edvol1.jpg" width="100%" />
		</a>
	</div>
<br>
<hr>
<br>
	
	<div id="foto3" class="ui-widget-content">
		<a href="../img/fis120-guia_4_potencial_electrico-pauta.pdf">
		<img src="../img/guiapotencialelec.png" width="100%"/>
		</a>
	</div>
<br>
<hr>
<br>

	<div id="foto4" class="ui-widget-content">
		<a href="../img/[FIS 120] Certamen 1 - 2004.1.pdf">
		<img src="../img/certamen.png" width="100%"/>
		</a>
	</div>

	</section>
	</div>