<div class="container">
	        <div class="col-sm-6 col-sm-offset-3">

	            <h1><span class="fa fa-sign-in"></span> Profesores Registrados</h1>

	            <!-- LOGIN FORM -->
	            <form action="/loginTeachers" method="post">
	                <div class="form-group">
	                    <label>Correo Electrónico</label>
	                    <input type="text" class="form-control" name="username">
	                </div>
	                <div class="form-group">
	                    <label>Contraseña</label>
	                    <input type="password" class="form-control" name="password">
	                </div>
	                <div class="form-group">
	                    <label>Recordar</label>
	                    <input type="checkbox" class="form-control" name="remember" value="yes">
	                </div>

	                <button type="submit" class="btn btn-lg btn-primary">Login</button>
	            </form>

	            <hr>
						<a class="help-block" href="/forgot"> ¿Olvidó su contraseña? </a>


			</div>
		</div>
		<hr>