<div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
					<div class="panel panel-default">
						  <div class="panel-heading">
						    	<h3 class="panel-title">Cursos <a href="#"><small><span class="text-right glyphicon glyphicon-minus"></span></small></a></h3> 
						  </div>
						  <div class="panel-body" >
						    	<a href="/fisica"><small><span class="glyphicon glyphicon-chevron-right"></span></small> Física 120</a></h3>
						    	<br> <hr>
						  </div>
					</div>
				</div>